<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author_1 %}
              {{ site.author_1 | escape }}
            {% endif %}
            </li>
            {% if site.email_1 %}
            <li>{{ site.email_1 }}</li>
            {% endif %}
        </ul>
        <ul class="contact-list">
            {% if site.author_2 %}
            {{ site.author_2 | escape }}
          {% endif %}
          </li>
          {% if site.email_2 %}
          <li>{{ site.email_2 }}</li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username_1 %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_1 %}
          </li>
          {% endif %}
          {% if site.twitter_username_2 %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_2 %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
